@model List<Person>
@{
    ViewData["Title"] = "Index";
}

<h1>People</h1>

<form asp-action="index" asp-controller="People" method="post">
    <input type="text" name="userInput" value="" />
    <input type="submit" value="Filter" />
</form>

<div class="col-12">
    <div class="row">
        <div class="col">
            <h5>Name</h5>
        </div>
        <div class="col">
            <h5>PhoneNumber</h5>
        </div>
        <div class="col">
            <h5>City</h5>
        </div>
        <div class="col">
            <h5>Remove</h5>
        </div>
    </div>
    <hr />

    @foreach (var item in Model)
    {
        <partial name="_PersonPartial" model="item" />
    }

</div>

<a asp-action="CreatePerson"> Create Person </a>

