@model PersonViewModel

<h1>CreatePerson</h1>
<form id="ConfirmCreateForm" onsubmit="confirmCreate(event)" asp-controller="People" asp-action="CreatePerson" data-target="peoplePartial" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span>

    <label asp-for="City"></label>
    <input asp-for="City" />
    <span asp-validation-for="City"></span>

    <input id="ConfirmCreateBtn" type="submit" value="Add Person" />
</form>

