@model Person

<form id="ConfirmEditForm" onsubmit="jseditPerson(event)" asp-route-id="@Model.Id" asp-controller="People" asp-action="EditPerson" data-target="peoplePartial" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span>

    <label asp-for="City"></label>
    <input asp-for="City" />
    <span asp-validation-for="City"></span>

    <input class="ConfirmEditBtn" type="submit" value="Edit Person" />
</form>
