@model List<Person>


@foreach (var person in Model)
{
    <div class="row">
        <div class="col">
            <p>@person.Name</p>
        </div>
        <div class="col">
            <p>@person.PhoneNumber</p>
        </div>
        <div class="col">
            <p>@person.City</p>
        </div>
        <div class="col">
            <a class="RemoveBtnPartial" asp-action="RemovePerson" asp-route-id="@person.Id" data.target="peoplePartial">Remove</a>
        </div>
    </div>
}

